@top_drawer_bg_color:		#2f2f2f;
@top_drawer_text_color:	#c5c5c5;
@top_bar_bg_color:		rgba(242,237,237,1);
@top_bar_text_color:		#111111;
@primary_color:			#0080ff;
@border_color:			rgba(238,238,238,1);
@secondary_color:			#222222;
@text_color:				#8f8f8f;
@heading_color:			#222222;
@bold_color:				#222222;
@footer_bg_color:			#2F2F2F;
@footer_text_color:		#8f8f8f;
@footer_heading_text_color:#FFFFFF;
@bottom_bar_bg_color:		#191919;
@bottom_bar_text_color:	#828282;
@link_color:				#0080ff;
@link_color_hover:		#0080ff;
@link_color_active:		#0080ff;
@menu_font:				'Roboto';
@secondary_font:				'Roboto';
@primary_font:				'Roboto';
@thrid_font:				'Roboto';
@page_title_text_color:	#FFFFFF;
@page_title_bg_color:		#2a2a2a;
@page_title_overlay_color:	#000000;
@page_title_overlay_opacity:	0.5;
@logo_max_height:	70px;
@logo_padding:	10px;
@main_menu_height:	95px;
@header_1_main_menu_height:	95px;
@header_2_main_menu_height:	50px;
@header_3_main_menu_height:	50px;
@logo_mobile_max_height:	42px;
@logo_mobile_padding:	20px;
@main_menu_mobile_height:	82px;
@menu_text_color:	#111111;
@menu_sub_bg_color:	#111111;
@menu_bg_color:	#ffffff;
@menu_sub_bg_hover_color:	#222222;
@menu_sub_text_color:	#AAAAAA;
@header_border_color:	rgba(238,238,238,1);
@theme_url:"http://localhost:81/projects/vt002_contruction/wp-content/themes/cortana/";
@header_background_color:	rgba(255,255,255,1);
@header_margin_top:	0;
